---
// src/paeges/materiel.astro
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <section class="py-20 bg-gradient-to-r from-[#00377d] to-[#002a63] text-white">
        <div class="container mx-auto px-6 text-center">
            <h1 class="text-4xl md:text-5xl font-bold mb-6">Materiel</h1>
            <p class="text-xl max-w-4xl mx-auto">
                Découvrez notre gamme de matériel informatique de haute qualité, conçu pour répondre à tous vos besoins technologiques. Que vous soyez un professionnel à la recherche d'outils performants ou un particulier souhaitant améliorer votre expérience numérique, nous avons ce qu'il vous faut. Explorez nos produits et trouvez le matériel idéal pour vous accompagner dans vos projets.
            </p>
        </div>
    </section>
</Layout>

